#chart {
  max-width: 900px;
  margin: 35px auto;
}
.search-input_extra_content {
  position: absolute;
  left: 78%;
  top: 40%;
  height: 30px;
  width: 8%;
}
.search-input_extra_content1 {
  position: absolute;
  left: 87%;
  top: 40%;
  height: 30px;
  width: 8%;
}
