<div class="changepassword">
  <div class="changepassword-form">
    <p class="changepassword-form_header">DANA TRAVEL</p>
    <p class="changepassword-form_header_extra">Welcome To DaNang</p>
    <form #changepassword="ngForm" class="changepassword-form_main"  (ngSubmit)="change(changepassword.value)">
      <div class="password">
        <input
          class="changepassword-form_input"
          type="{{ type }}"
          placeholder="Current password"
          name="currentPassword"
          autocomplete="off"
          [ngModel]
        />
        <i class="fa-regular fa-eye password" (click)="showpassword()"></i>
      </div>

      <div class="confirmpassword">
        <input
          class="changepassword-form_input"
          type="{{ typeconfirm }}"
          placeholder="New password"
          name="newPassword"
          [ngModel]
          #confirmpassword="ngModel"
          autocomplete="off"
        />
        <i
          class="fa-regular fa-eye confirmpassword"
          (click)="showpasswordconfirm()"
        ></i>
      </div>

      <div class="confirmpassword">
        <input
          class="changepassword-form_input"
          type="{{ typeconfirm }}"
          placeholder="Confirm new password"
          name="confirmPassword"
          [ngModel]
          #confirmpassword="ngModel"
          autocomplete="off"
        />
        <i
          class="fa-regular fa-eye confirmpassword"
          (click)="showpasswordconfirm()"
        ></i>
      </div>

      <button class="changepassword-form_button">Change</button>
      <p class="changepassword-form_signin">
        You will change later?
        <span class="changepassword-form_signin_detail" routerLink="/homepage"
          >Back
        </span>
      </p>
    </form>
  </div>
</div>
