<div class="footer">
  <div class="footer-main">
    <div class="footer-main_header">
    <div class="about"> 
    <p class="footer-main_header_content">ABOUT</p>
    <p class="footer-main_header_detail">We bring extremely new experiences to users who are tourists in Da Nang, with schedule suggestions based on user requirements will bring the best and most suitable experiences.</p>
    </div>

    <div class="categories"> 
      <p class="footer-main_header_content">CATEGORIES</p>
    <p class="footer-main_header_detail">Search itinerary</p>
      <p class="footer-main_header_detail_categories">Export itinerary</p>
      <p class="footer-main_header_detail_categories">Edit itinerary</p>

      </div>

      <div class="contact"> 
        <p class="footer-main_header_content">CONTACT</p>
        <p class="footer-main_header_detail">Phone:0234756120 </p>
        <p class="footer-main_header_detail_contact">Email: danatravel@gmail.com </p>
        <p class="footer-main_header_detail_contact">Adress: 214-216 Nguyen Phuoc Lan</p>
        </div>
  </div>
<div class="footer-detail">
    <p class="footer-main_line"></p>
    <p class="footeer-main-content">DaNaTravel </p>
    <div class="footer_icon">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
</div>
</div>
