<div class="manageuser">
  <div class="manageuser-siderbar">
    <img src="../../assets/image/img-logo.png" alt="" class="manageuser-siderbar_logo" />
    <div class="manageuser-siderbar_function">
      <div class="mainnn">
        <i class="fa-solid fa-house"></i>
        <span class="admin-siderbar_function_detail" routerLink="/admin"> Home Page</span>
        <br />
      </div>
      <div class="mainnn">
        <i class="fa-solid fa-user"></i>
        <span class="admin-siderbar_function_detail" routerLink="/manageuser"> Manage User</span>
        <br />
      </div>
      <div class="mainnn">
        <i class="fa-solid fa-plane"></i>
        <span class="admin-siderbar_function_detail" routerLink="/manageitinerary"> Manage Itinerary</span>
        <br />
      </div>
      <div class="mainnn">
        <i class="fa-sharp fa-solid fa-hotel"></i>
        <span class="admin-siderbar_function_detail" routerLink="/managelocation">Manage Location</span>
        <br />
      </div>
      <div class="line"></div>
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span class="manageuser-siderbar_function_detail"> Sign Out</span>
    </div>
  </div>
  <div class="manage-table_main_content">
    <p class="management-header_text">Itinerary Management</p>
    <div class="manageuser-header">
      <div class="filter-container">
        <form class="form" #form="ngForm">
          <input
            type="text"
            #input="ngModel"
            class="manageuser-header_input"
            placeholder="Search here...."
            name="keyword"
            [ngModel]=""
            autocomplete="off"
          />
          <button class="bam">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="filter_main">
          <select #tien name="lang" class="filter_main_content">
            <option value="1">All</option>
            <option value="2">Coffee</option>
            <option value="3">Restaurant</option>
            <option value="4">Landscape</option>
          </select>
          <!-- <input type="text" class="search-input_main_content"> -->
        </div>
        <div class="filter_main_status">
          <select #tien name="lang" class="filter_main_content status">
            <option value="1">All</option>
            <option value="2">Public</option>
            <option value="3">Private</option>
          </select>
          <!-- <input type="text" class="search-input_main_content"> -->
        </div>
      </div>
      <button class="manageuser-table_addusser">Add New User <i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="manageuser-table">
      <div class="manageuser-table_main_header">
        <p class="manageuser-table_main_header_id">ID</p>
        <p class="manageuser-table_main_header_img">NAME</p>
        <p class="manageuser-table_main_header_account">ACCOUNT</p>
        <p class="manageuser-table_main_header_name">PRICE</p>
        <p class="manageuser-table_main_header_email">DAY</p>
        <p class="manageuser-table_main_header_role">STATUS</p>
        <p class="manageuser-table_main_header_action">ACTION</p>
      </div>
      <div class="manageuser-table_main">
        <div class="manageuser-table_main_content mot" *ngFor="let itinerary of itinerarys; let i = index">
          <p class="manageuser-table_main_content_id">
            {{ pageIndex * 10 + i + 1 }}
          </p>
          <p *ngIf="itinerary.name" class="manageuser-table_main_content_img">
            {{ itinerary.name }}
          </p>
          <p *ngIf="!itinerary.name" class="manageuser-table_main_content_img">Unknown Trip</p>
          <div class="manageuser-table_main_content_account">
            <p *ngIf="itinerary.avatar" class="manageuser-table_main_content_img">
              <img src="{{ itinerary.avatar }}" alt="" class="manageuser-table_main_content_img_detail" />
            </p>
            <p *ngIf="!itinerary.avatar" class="manageuser-table_main_content_img">
              <img src="../../../assets/image/nenchung.png" alt="" class="manageuser-table_main_content_img_detail" />
            </p>
            <p class="manageuser-table_main_content_name_text">
              {{ itinerary.accountName }}
            </p>
          </div>
          <p class="manageuser-table_main_content_name">{{ itinerary.cost.toLocaleString("vi-VN") }} VND</p>
          <p class="manageuser-table_main_content_email">
            {{ itinerary.days }}
          </p>

          <mat-slide-toggle
            class="manageuser-table_main_content_role"
            [color]="color"
            [checked]="checked[i]"
            [disabled]="disabled"
          >
          </mat-slide-toggle>
          <p class="manageuser-table_main_content_action">
            <button class="manageuser-table_main_content_action_delete">
              <i class="fa-solid fa-trash" (click)="delete(itinerary._id)"></i>
              <p class="manageuser-table_main_content_action_text">Delete</p>
            </button>
            <button class="manageuser-table_main_content_action_delete">
              <i class="fa-solid fa-pen"></i>
              <p class="manageuser-table_main_content_action_text">Update</p>
            </button>
          </p>
        </div>
      </div>
      <mat-paginator
        #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [disabled]="disabled"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [hidePageSize]="true"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
