<headerr [addd]="add"></headerr>
<bannel></bannel>
<div (window:scroll)="srcoll()" class="getting">
  <div class="getting-main">
    <p class="getting-main_content"></p>
    <p class="getting-main_content">DA NANG TRAVEL</p>
    <p class="getting-main_content_extra">YOUR JOURNEY IS OUR JOURNEY</p>

    <div class="getting-main_information">
      <div
        class="getting-main_information_content"
        [class.add1]="add1"
        [class.add11]="add11"
      >
        <img src="../../assets/image/hinh5.png" alt="" class="img" />
        <div>
          <p class="header">Travel itinerary suggestion</p>
          <p class="main">
            Based on the information provided by the user, we will provide the
            most reasonable route to the user, with time and cost optimization
            according to the user's requirements. All you need to do is answer
            simple questions and provide accurate information about the
            itinerary you want to take.
          </p>
        </div>
      </div>
      <div
        class="getting-main_information_content2"
        [class.add2]="add2"
        [class.add22]="add22"
      >
        <div>
          <p class="header2">Favorite</p>
          <p class="main2">
            Users can favorite routes as well as locations that they are
            interested in. With these favorites, the users can create their own
            library to store suitable locations and routes for themselves.
            Furthermore, users have the option to make their created routes
            public so that others can use them as a reference.
          </p>
        </div>
        <img src="../../assets/image/hinh6.png" alt="" class="img2" />
      </div>
      <div
        class="getting-main_information_content them"
        [class.add3]="add3"
        [class.add33]="add33"
      >
        <img src="../../assets/image/hinh7.png" alt="" class="img" />
        <div>
          <p class="header">Edit travel itinerary</p>
          <p class="main">
            With the desire to provide the best experiences to our users, we
            always bring them valuable experiences. If users want to change
            their route, they can do so immediately when our system provides
            them with itinerary suggestions based on the information they have
            provided.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
