<div class="forgotpassword">
    <div class="forgotpassword-form">
      <p class="forgotpassword-form_header">DANA TRAVEL</p>
      <p class="forgotpassword-form_header_forgotpassword">  FORGOT PASSWORD</p>
      <form
        #forgotpassword="ngForm"
        class="forgotpassword-form_main"
        (ngSubmit)="submit(forgotpassword.value)"
      >
        <input
          class="forgotpassword-form_input"
          type="text"
          placeholder="Your email"
          name="email"
          autocomplete="off"
          [ngModel]
          #email="ngModel"
        />
        <button class="forgotpassword-form_button">Submit</button>
    </form>
    </div>
  </div>
  