<headerr [addd]="add"></headerr>
<loading [class.loading]="loading"></loading>
<div class="export" (window:scroll)="srcoll()">
  <img src="../../assets/image/ve1.jpeg" alt="" class="export-img">
  <div class="export-header">
    <img src="../../assets/image/DANA TRAVEL.png" alt="" class="export-header_img">
    <div class="export-header_search">
      <div class="export-header_search_filter">
        <button class="export-header_search_filter_button" [class.color1]="color1" (click)="choice1()">All</button>
        <select #day class="export-header_search_filter_button" [class.color2]="color4" (change)="choice4(day.value)" value="default">
          <option value="0">Duration</option>
          <option value="1">1 day</option>
          <option value="2">2 days</option>
          <option value="3">3 days</option>
          <option value="4">4 days</option>
          <option value="5">5-10 days</option>
        </select>
        <select #people class="export-header_search_filter_button" [class.color3]="color5" (change)="choice5(people.value)"> 
          <option value="0">People</option>
          <option value="1">1 person</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5-10</option>
        </select>
      </div>
    </div>

    <div class="export-main">
      <div class="export-main_content" *ngFor="let history of historys, let i=index">
        <!-- <p class="export-main_content_detail" *ngFor="let route of history.routes.slice(1,4)" routerLink="/itinerary/create" >
          {{route.name}},
            </p>
          <i class="fa-solid fa-pen"></i> -->
          <div class="export-main_content_img" *ngFor="let route of history.routes.slice(3,4)">
            <img *ngIf="route.photos==null"
              src="../../assets/image/nen33.jpeg"
              alt=""
              class="export-main_content_img_content"
              (click)="detail(history)"
            />
            <img *ngIf="route.photos!=null"
              src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=500&photoreference={{route.photos}}&key=AIzaSyBVatgG_Di0Y8-yNMFDvczuyAGzIMcN0RU"
              alt=""
              class="export-main_content_img_content"
              (click)="detail(history)"
            />
      </div>
      <div class="img-information" (click)="detail(history)">
        <p *ngIf="history.name" class="img-information_detail">{{history.name}}</p>
        <p *ngIf="!history.name"class="img-information_detail">Unknown Trip</p>

        <p *ngIf="history.days==1" class="img-information_extra">Duration: {{history.days}} day</p>
        <p *ngIf="history.days!=1" class="img-information_extra">Duration: {{history.days}} days</p>
        <p class="img-information_extra1">Cost: {{history.cost.toLocaleString('vi-VN')}} VND</p>
        <p *ngIf="history.people!=1" class="img-information_extra2">People: {{history.people}}</p>
        <p *ngIf="history.people==1" class="img-information_extra2">Person: {{history.people}}</p>
      </div>
      <div class="export-main_content_extra">
        <i class="fa-solid fa-heart pink" (click)="unlove(history._id)" *ngIf="thich.includes(history._id)"></i>
        <i class="fa-solid fa-heart " (click)="love(history._id)" *ngIf="!thich.includes(history._id)"></i> 
      </div>
    </div>
  </div>
  <!-- <div class="export-main">
    <div class="tuyet">

    <div class="export-main_content" *ngFor="let history of historys, let i=index">
      
      <div class="main">
        <div class="name">
        <p class="export-main_content_detail" *ngFor="let route of history.routes.slice(1,4)" routerLink="/itinerary/create" >
      {{route.name}},
        </p>
        <i class="fa-solid fa-pen"></i>
        </div>
        <div class="thien">
        <div class="img" *ngFor="let route of history.routes.slice(1,4)">
        <img *ngIf="route.photos==null"
          src="../../assets/image/nen33.jpeg"
          alt=""
          class="export-main_content_img"
        />
        <img *ngIf="route.photos!=null"
          src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=500&photoreference={{route.photos}}&key=AIzaSyBVatgG_Di0Y8-yNMFDvczuyAGzIMcN0RU"
          alt=""
          class="export-main_content_img"
        />
        </div>
        </div>
        <div class="information-extra">
        <p class="export-main_content_day"> Day: {{history.days}} days</p>
        <p class="export-main_content_people"> People: {{history.people}} people</p>
        <p class="export-main_content_extra_price">Cost: {{history.cost}}</p>
        </div>
      </div>
      <div class="export-main_content_extra">
        <i class="fa-solid fa-heart pink" (click)="unlove(history._id)" *ngIf="thich.includes(history._id)"></i>
        <i class="fa-solid fa-heart " (click)="love(history._id)" *ngIf="!thich.includes(history._id)"></i> 
      </div>
    </div>
    </div>
  </div> -->
  <div class="total-navigation">
    <i (click)="truoc()" class="fa-solid fa-chevron-left"></i>
    <button class="total-navigation_button choice" (click)="navigation(types[0],0)">{{types[0]}}</button>
    <button class="total-navigation_button " (click)="navigation(types[1],1)">{{types[1]}}</button>
    <button class="total-navigation_button " (click)="navigation(types[2],2)">{{types[2]}}</button>
    <button class="total-navigation_button " (click)="navigation(types[3],3)">{{types[3]}}</button>
    <button class="total-navigation_button " (click)="navigation(types[4],4)">{{types[4]}}</button>
    <i (click)="sau()" class="fa-solid fa-chevron-right"></i>
    </div>
</div>
